body{
  background-image: url(background12.png);
  color: white;
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
}
.ams{
  font-size: 3em;
  text-align: left;
}
.ahmed{
  color: white;
  background-color: darkred;
font-size: 25px;
}
.logo{
  height: 200px; width: 200px;
  border-radius: 50%;
  padding: 100px;
}
.inputt{
  text-align: center;
}
